html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    overflow-x: hidden;
}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
body a{
    text-decoration: none;
    color: unset;
    height: max-content;
    scroll-behavior: smooth;
    transition: 4s ease;
}
body .page{
    height: max-content;
    position: absolute;
    overflow-x: hidden;
}
body .body{
    background-color: black;
    width: 100%;
    height: 53vw;
    margin-top: -4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
@media screen and (max-width:1000px){
    body .body{
        height: 70vw;
    }
}
@media screen and (max-width:600px){
    body .body{
        height: 110vw;
    }
}
@media screen and (max-width:500px){
    body .body{
        height: 150vw;
    }
}
body .body .abs{
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 40%;
    overflow-y: hidden;
}
body .body .abs img{
    width: 100%;
    height: 100%;
}
body .body .rel{
    position: relative;
    color: white;
    height: max-content;
    width: 80%;
    bottom: -100%;
    margin: auto;
    text-align: center;
    background-color: transparent;
    transition: 1s ease;
    font-size: 2vw;
}
body .body .rel h3{
    font-family: serif;
}
body .body .rel .rel-h3{
    font-size: 5vw;
}
@media screen and (max-width:500px){
    body .body .rel .rel-h3{
        font-size: 7vw;
    }
}


body .body .rel button{
    padding: 10px 20px;
    font-weight: bolder;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}
@media screen and (max-width:800px){
    body .body .rel{
        font-size: 3vw;
    }
    body .body .rel button{
        font-size: 2.5vw;
    }
}
@media screen and (max-width:500px){
    body .body .rel{
        font-size: 4vw;
    }
    body .body .rel button{
        font-size: 3vw;
    }
}

header{
    height: max-content;
    max-height: 35%;
    padding: 15px 0;
    width: 100%;
    background-color: transparent;
    top: -20%;
    position: fixed;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: 1s ease;
    font-family:serif;
    overflow: hidden;
}
header .menu-social{
    width: 100%;
    height: max-content;
    display: inline-flex;
    justify-content: space-evenly;
    overflow: hidden;
}
header .menu-social .men-social{
    word-spacing: 10px;
    font-family: sans-serif;
}
header .menu{
    text-align: center;
    word-spacing: 50px;
    clear: both;
    letter-spacing: 2px;
    width: max-content;
}
@media screen and (max-width:1000px) {
    header .menu-social{
        display: none;
    }
}
header .menu ul{
    list-style: none;
}
header .menu ul li{
    display: inline;
    word-spacing: normal;
    cursor: pointer;
}
header .burger{
    float: right;
    position: relative;
    right: 10px;
    padding: 6px;
    border: 2px solid white;
    display: none;
    cursor: pointer;
}
header .burger:hover{
    background-color: black;
    transition: 1s ease;
}
@media screen and (max-width:1000px) {
    header .burger{
        display: block;
    }
}
header .mobile-logo{
    display: none;
}
@media screen and (max-width:1000px) {
    header .mobile-logo{
        display: block;
    }
}
.burger .ham{
    padding: 2px 0;
    background-color: white;
    margin: 2px;
    width: 25px;
    border-radius: 2px;
}

.mobile-menu{
    height: 100%;
    width: 70%;
    background-color:black;
    left: 110%;
    position: fixed;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}
.mobile-menu .social-media{
    height: max-content;
    width: 100%;
    text-align: left;
    padding: 10px 0;
    background-color: transparent;
    word-spacing: 15px;
}
.mobile-menu .close{
    float: right;
    padding: 10px;
    position: relative;
    right: 15px;
    background-color: #800040;
    height: max-content;
    transition: 0.5s ease;
    cursor: pointer;
}
.mobile-menu .close:hover{
    background-color: rgb(140, 138, 138);
    transition: 1s ease;
}
.mobile-menu .mobile-list{
    background-color: transparent;
    width: 60%;
    float: right;
    position: relative;
    right: 20px;
    height: 100%;
    text-align: left;
    clear: both;
}
.mobile-menu .mobile-list p{
    height: max-content;
    cursor: pointer;
    line-height: 180%;
}

body .section-one{
    height:max-content;
    text-align: center;
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: 3%;
}
body .section-one *{
    height: max-content;
}
body .section-one h2{
    color: rgb(1, 1, 91);
    font-family: 'Times New Roman', Times, serif;
}
body .section-one form{
    width: 80%;
    position: relative;
    margin: auto;
    padding: 10px;
    height: max-content;
}
@media screen and (max-width:600px) {
    body .section-one form{
        width: 90%;
        position: relative;
        margin: auto;
        padding: 10px;
        height: max-content;
    } 
}
body .section-one form .appointment{
    width: 100%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    height: max-content;
}
body .section-one form .appointment input{
    width: 35%;
    height: 35px;
    border: 0;
    outline: none;
    font-size: 110%;
    margin: 0 6px;
    background-color: bisque;
    border-radius: 5px;
    color: rgb(1, 1, 73);
    box-shadow: 2px 2px 2px rgb(183, 180, 180);
}
@media screen and (max-width:900px) {
    body .section-one form .appointment input{
        width: 90%;
        height: 35px;
        border: 0;
        outline: none;
        margin: 7px 0;
        font-size: 110%;
        background-color: bisque;
        border-radius: 5px;
        color: rgb(1, 1, 73);
    }
}
body .section-one form .appointment input::placeholder{
    color: #800040;
}
body .section-one form .appointment button{
    padding: 12px 23px;
    background-color: #d2b450;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px 2px rgb(183, 180, 180);
    letter-spacing: 2px;
}

body .welcome-note{
    background-color: bisque;
    height: max-content;
    width: 90%;
    position: relative;
    margin: auto;
    padding: 30px 0;
}
body .welcome-note *{
    height: max-content;
}
body .welcome-note .note-write{
    width: 90%;
    position: relative;
    margin: auto;
}
body .welcome-note .note-write button{
    padding: 12px 23px;
    background-color: #800040;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px 2px rgb(183, 180, 180);
    letter-spacing: 2px;
    margin: 15px 0;
}
body .welcome-note .note-write .note-read{
    padding: 20px 0;
    border-bottom: 2px solid #800040;
}
body .welcome-note .note-write .note-read p{
    display: none;
}
body .price{
    height: max-content;
    width: 100%;
}
body .price .price-box{
    height: max-content;
    width: 90%;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 5%;
}
@media screen and (max-width:700px) {
    body .price .price-box{
        height: max-content;
        width: 90%;
        display: block;
        justify-content: unset;
        margin: 5%;
    } 
}
body .price .price-box .price-col{
    width: 28%;
    height: max-content;
    background-color:#800040;
    margin: 10px;
    padding: 20px 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(183, 180, 180);
}
@media screen and (max-width:700px) {
    body .price .price-box .price-col{
        width: 80%;
        height: max-content;
        position: relative;
        margin: auto;
        margin-top: 70px;
    }
}
body .price .price-box .price-col .img{
    width: 100%;
    text-align: center;
}
body .price .price-box .price-col img{
    width: 100px;
    position: relative;
    margin: auto;
    height: 100px;
    border-radius: 50%;
    bottom: 0px;
}
body .price .price-box .price-col .p{
    position: relative;
    bottom: 0px;
}
body .price .price-box .price-col .p h3{
    font-family: cursive;
    color: lightblue;
}
body .price .price-box .price-col .p h2{
    font-family:cursive;
    color: white;
}
body .price .price-box .price-col .p h6{
    color: bisque;
    padding:0 0 10px 0;
}
body .price .price-box .price-col .p button{
    color: bisque;
    padding:20px 0 0px 0;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid bisque;
    font-size: 10px;
}
body .they-said{
    height: max-content;
    width: 80%;
    margin: auto;
    position: relative;
    background-color: transparent;
    text-align: center;
    overflow: hidden;
}
body .they-said h1{
    font-family: cursive;
    color: #800040;
    opacity: 40%;
}
body .they-said .said-text{
    background-color: transparent;
    padding: 10px 0;
    width: 400%;
    bottom: 45px;
    position: relative;
    overflow-x: hidden;
    display: inline-flex;
    justify-content: space-evenly;
    transition: 0.5s ease;
}
body .they-said .said-text .box{
    background-color: transparent;
    width: 25%;
    padding: 10px 0;
    position: relative;
    right: 0%;
    overflow: hidden;
    transition: 0.5s ease;
}
body .they-said .said-text .box p{
    width: 80%;
    position: relative;
    margin: auto;
    text-align: justify;
}
body .they-said .control{
    word-spacing: 50px;
    position: relative;
    bottom: 40px;
}
body .they-said .control button{
    color: #800040;
    background-color: transparent;
    border: 0;
    font-size: 250%;
    cursor: pointer;
}
body .news{
    padding: 10px 0;
    height: max-content;
    width: 80%;
    position: relative;
    margin: auto;
    background-image: url("images/cr5.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
body .news .abs{
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: black;
    opacity: 40%;
}
body .news .rel{
    height: max-content;
    width: 100%;
    position: relative;
}
body .news h1{
    color: bisque;
    font-family: cursive;
}
body .news .rel form .form{
    background-color: bisque;
    width: 90%;
    position: relative;
    margin: auto;
    border-radius: 5px;
    padding: 10px 0;
}
body .news .rel form input{
    width: 75%;
    height: 50px;
    border: 0;
    outline: none;
    font-size: 110%;
    margin: 0 6px;
    background-color: bisque;
    border-radius: 5px;
    color: black;
    font-size: 150%;
}
body .news .rel form button{
    background-color: transparent;
    font-size: 150%;
    color: #800040;
    border: 0;
    cursor: pointer;
}


.category .price {
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .category .price .price-box {
    height: -moz-max-content;
    height: max-content;
    width: 90%;
    display: inline-flex;
    justify-content: space-evenly;
    margin:0 5%;
  }
  @media screen and (max-width: 700px) {
    .category .price .price-box {
      height: -moz-max-content;
      height: max-content;
      width: 90%;
      display: block;
      justify-content: unset;
      margin: 0 5%;
    }
  }
  .category .price .price-box .price-col {
    width: 28%;
    height: -moz-max-content;
    height: max-content;
    background-color: transparent;
    margin: 10px;
    padding: 20px 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(183, 180, 180);
  }
  @media screen and (max-width: 700px) {
    .category .price .price-box .price-col {
      width: 80%;
      height: -moz-max-content;
      height: max-content;
      position: relative;
      margin: auto;
      margin-top: 70px;
    }
  }
  .category .price .price-box .price-col .img {
    width: 100%;
    text-align: center;
    color: #800040;
    font-size: 150%;
  }
  .category .price .price-box .price-col img {
    width: 100px;
    position: relative;
    margin: auto;
    height: 100px;
    border-radius: 50%;
    bottom: 0px;
  }
  .category .price .price-box .price-col .p {
    position: relative;
    bottom: 0px;
  }
  .category .price .price-box .price-col .p h3 {
    font-family: serif;
    color: #800040;
  }
  .category .price .price-box .price-col .p h2 {
    font-family: cursive;
    color: white;
  }
  .category .price .price-box .price-col .p h6 {
    color: black;
    padding: 0 0 10px 0;
  }
  .category .price .price-box .price-col .p button {
    color: bisque;
    padding: 20px 0 0px 0;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid bisque;
    font-size: 10px;
  }/*# sourceMappingURL=new.css.map */

  footer{
    width: 100%;
    padding: 10px 0;
  }
  footer .foot-in{
    width: 88%;
    position: relative;
    margin: auto;
    padding: 15px;
  }
  footer .footer-in{
    width: 100%;
    position: relative;
    margin: auto;
    padding: 15px 0;
    display: inline-flex;
    justify-content: space-between;
  }
  @media screen and (max-width:800px){
    footer .footer-in{
        display: block;
        justify-content: unset;
      }
  }
  footer .footer-in .foot-col{
    width: 45%;
    height: max-content;
    padding: 10px;
  }
  @media screen and (max-width:800px){
    footer .footer-in .foot-col{
        width: 90%;
        position: relative;
        margin: auto;
      }
  }
  footer h2{
    color: rgb(2, 2, 67);
    font-family: serif;
  }
  footer h6{
    color: #800040;
  }
  footer .footer-media{
    word-spacing: 10px;
  }
  footer .footer-media span{
    padding: 3px 5px;
    border: 1px solid black;
  }
  footer .answers p{
    border-bottom: 2px solid #800040;
    padding: 10px;
    cursor: pointer;
  }
  footer .answers p .span{
    display: none;
  }
  footer .footer-bottom{
    padding: 10px 0;
    text-align: center;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
    background-color: #800040;
    color: white;
  }
  footer .footer-bottom img{
    width: 100px;
  }
  .contact{
    border: 1px solid black;
    padding: 10px;
    width: 90%;
    position: relative;
    margin: auto;
  }
  .contact .form{
    width: 90%;
    position: relative;
    margin: auto;
    padding: 10px;
  }
  .contact .form input{
    background-color: bisque;
    width: 50%;
    height: 50px;
    border: 0;
    outline: 0;
    font-size: 120%;
  }
  @media screen and (max-width:800px){
    .contact .form input{
        width: 100%;
      }
  }
  .contact .form textarea{
    background-color: bisque;
    width: 80%;
    border: 0;
    outline: 0;
    font-size: 120%;
  }
  @media screen and (max-width:800px){
    .contact .form textarea{
        width: 100%;
      }
  }
  .contact .form .form-button{
    width: 80%;
    text-align: right;
  }
  @media screen and (max-width:800px){
    .contact .form .form-button{
        width: 100%;
      }
  }
  .contact .form .form-button button{
    padding: 8px 20px;
    background-color: rgb(2, 2, 80);
    color: white;
    border: 0;
    cursor: pointer;
  }
  